$smartphone: "(max-width: 400px)";

$tabletSmall: "(min-width: 400px) and (max-width: 700px)";

$tabletMedium: "(max-width: 580px)";

$tabletBig: "(min-width: 700px) and (max-width: 800px)";

$desktop: "(min-width: 800px)";