body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
  margin: 0;
  padding: 0;
  border: 0; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

@font-face {
  font-family: 'ralewayregular';
  src: url("../fonts/raleway-regular-webfont.eot");
  src: url("../fonts/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-regular-webfont.woff2") format("woff2"), url("../fonts/raleway-regular-webfont.woff") format("woff"), url("../fonts/raleway-regular-webfont.ttf") format("truetype"), url("../fonts/raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  width: 100%;
  margin: auto;
  background: white;
  font-family: ralewayregular, sans-serif; }

.grid-container {
  max-width: 960px;
  margin: 0 auto; }

.col-1 {
  width: calc(8.33%*1 - 4px);
  display: inline-block;
  margin: -2px; }

.col-2 {
  width: calc(8.33%*2 - 4px);
  display: inline-block;
  margin: -2px; }

.col-3 {
  width: calc(8.33%*3 - 4px);
  display: inline-block;
  margin: -2px; }

.col-4 {
  width: calc(8.33%*4 - 4px);
  display: inline-block;
  margin: -2px; }

.col-5 {
  width: calc(8.33%*5 - 4px);
  display: inline-block;
  margin: -2px; }

.col-6 {
  width: calc(8.33%*6 - 4px);
  display: inline-block;
  margin: -2px; }

.col-7 {
  width: calc(8.33%*7 - 4px);
  display: inline-block;
  margin: -2px; }

.col-8 {
  width: calc(8.33%*8 - 4px);
  display: inline-block;
  margin: -2px; }

.col-9 {
  width: calc(8.33%*9 - 4px);
  display: inline-block;
  margin: -2px; }

.col-10 {
  width: calc(8.33%*10 - 4px);
  display: inline-block;
  margin: -2px; }

.col-11 {
  width: calc(8.33%*11 - 4px);
  display: inline-block;
  margin: -2px; }

.col-12 {
  width: calc(8.33%*12 - 4px);
  display: inline-block;
  margin: -2px; }

.container {
  background: white;
  margin: 0 auto; }

.navbar {
  height: 40px;
  background: black;
  position: fixed;
  width: 100%;
  z-index: 10; }

.navigation {
  display: block;
  color: white;
  font-size: 20px;
  padding-top: 8px;
  list-style: none; }

.companyname {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
  list-style: none;
  width: 20%;
  float: left; }
  .companyname span {
    color: #26C7a9; }

.menu {
  list-style: none;
  text-align: center;
  float: right;
  position: relative; }
  .menu div {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center; }
    .menu div ul li {
      display: block;
      background: black;
      text-align: center;
      color: white;
      padding: 5px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
  .menu a {
    color: white;
    text-decoration: none; }
    .menu a:hover {
      color: #26C7a9; }

a {
  color: black;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    color: #26C7a9; }

.head {
  background: linear-gradient(to bottom, #fafafa 0%, #cdcfd4 100%);
  padding-top: 5%;
  padding-bottom: 5%;
  height: 380px; }

.arrow {
  color: #26C7a9;
  cursor: pointer;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .arrow:active {
    font-weight: bold; }
  .arrow:hover .back {
    background: black;
    position: absolute;
    top: 58px;
    left: 11px;
    height: 55px;
    width: 55px;
    opacity: 0.1;
    border-radius: 10px; }

.left-arrow {
  font-size: 8em;
  text-align: center;
  vertical-align: middle; }

.right-arrow {
  font-size: 8em;
  text-align: center;
  vertical-align: middle; }

.image ul {
  list-style: none; }
.image img {
  width: 100%;
  height: 290px;
  top: 100px;
  vertical-align: middle; }

.text {
  text-align: center;
  padding-top: 50px;
  height: 290px;
  vertical-align: middle; }
  .text h1 {
    padding-bottom: 20px;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase; }
    .text h1 span {
      color: #26C7a9; }
  .text .button_first {
    margin: 25px auto;
    width: 230px;
    height: 30px;
    background-color: #26C7a9;
    color: white;
    font-family: ralewayregular, sans-serif;
    text-align: center;
    padding-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 3px #888888; }
    .text .button_first:active {
      background-color: white;
      color: #26C7a9; }

.block {
  display: inline-block;
  width: 30%;
  margin: 40px 10px 40px 10px;
  vertical-align: middle;
  position: relative; }
  .block img {
    width: 100%; }
  .block:hover span {
    color: #26C7a9; }

.block3 {
  border: 1px solid lightgrey; }

.offer-belt {
  z-index: 3;
  padding-right: 30px;
  font-size: 1em;
  font-weight: bold;
  margin-left: 10px;
  border-bottom: 5px solid #26C7a9;
  position: absolute;
  top: 70%;
  width: 70%; }

.opacity-belt {
  z-index: 2;
  padding-right: 30px;
  position: absolute;
  top: 66%;
  height: 40px;
  width: 100%;
  background: white;
  opacity: 0.5; }

.inputs {
  padding: 20px;
  box-sizing: border-box;
  font-size: 1em; }
  .inputs p {
    padding-top: 10px; }
  .inputs h3 {
    border-bottom: 5px solid #26C7a9;
    width: 80%; }

.prices {
  background: #e6e6e6; }

.header {
  margin-top: 50px;
  border-bottom: 8px solid #26C7a9;
  margin-bottom: 30px;
  margin-left: 6px;
  clear: both; }
  .header span {
    color: #26C7a9; }

.price-block {
  width: 30%;
  height: 435px;
  margin: 30px 10px 30px 10px;
  border: 2px solid lightgrey;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative; }
  .price-block .inner-circle {
    background-color: #828282;
    width: 20px;
    height: 20px;
    position: relative;
    left: 50%;
    border-radius: 50%;
    margin-top: 9px;
    margin-left: -9.1px; }
  .price-block .outer-circle {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #828282;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -19px; }
  .price-block .title {
    font-size: 20px;
    color: #26C7a9;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold; }
  .price-block .price {
    color: #828282;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #b8b8b8;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    margin: auto;
    vertical-align: middle;
    background: white; }
    .price-block .price span {
      font-weight: bold;
      font-size: 28px; }
  .price-block .buy {
    background: darkgrey;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .price-block .service {
    background: lightgrey;
    padding-top: 10px;
    padding-bottom: 10px; }
  .price-block .guarantee {
    background: darkgrey;
    padding-top: 10px;
    padding-bottom: 10px; }
  .price-block .advise {
    background: lightgrey;
    padding-top: 10px;
    padding-bottom: 10px; }
  .price-block .button_second {
    width: 120px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    left: 30%;
    background: #26C7a9;
    text-transform: uppercase;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 1px #888888; }
  .price-block:hover {
    background: #26C7a9; }
    .price-block:hover .inner-circle {
      background-color: white; }
    .price-block:hover .outer-circle {
      background-color: #26C7a9;
      border: 1px solid #26C7a9; }
    .price-block:hover .title {
      color: white; }
    .price-block:hover .buy {
      background: lightgrey; }
    .price-block:hover .service {
      background: darkgrey; }
    .price-block:hover .guarantee {
      background: lightgrey; }
    .price-block:hover .advise {
      background: darkgrey; }
    .price-block:hover .button_second {
      background: white;
      color: #26C7a9; }

.customize {
  background: #e6e6e6;
  margin-top: 0;
  position: relative; }

.choose-options {
  margin-top: 60px;
  display: inline-block; }
  .choose-options select {
    height: 40px;
    width: 100%;
    font-size: 27px;
    padding: 5px;
    padding-left: 10px;
    border: 1px solid #26C7a9;
    margin-bottom: 20px;
    opacity: 0.7; }

.create {
  display: block;
  padding-top: 60px;
  border-bottom: 8px solid #26C7a9;
  margin-left: 6px;
  clear: both; }
  .create span {
    color: #26C7a9; }

.chair-picture img {
  position: relative;
  width: 100%;
  height: 100%; }

.calc-table {
  display: inline-block; }
  .calc-table table {
    opacity: 0.7;
    background: white;
    font-size: 26px;
    width: 100%;
    height: 220px; }
    .calc-table table td {
      padding: 3px; }
    .calc-table table .last {
      border-top: 2px solid #26C7a9;
      font-weight: bold;
      color: #26C7a9;
      border-top: 2px solid #26C7a9; }
      .calc-table table .last .sum-head {
        border-top: 2px solid #26C7a9; }
  .calc-table #submit {
    height: 40px;
    width: 150px;
    font-size: 24px;
    color: white;
    background: #26C7a9;
    border-radius: 7px;
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 3px 3px 3px #888888; }
    .calc-table #submit:active {
      background-color: white;
      color: #26C7a9; }

.choose-options {
  font-size: 26px;
  opacity: 0.7; }

.choose-options {
  position: relative;
  padding-bottom: 70px; }
  .choose-options .transport-type label {
    display: inline-block; }
  .choose-options input[type="checkbox"] {
    display: none; }
  .choose-options input[type="checkbox"] {
    content: "";
    border: 1px solid #26C7a9;
    margin-right: 30px;
    height: 41px;
    width: 41px;
    display: inline-block; }
  .choose-options input[type="checkbox"]:checked {
    content: "";
    background: white;
    border: 1px solid #26C7a9; }

.to-contact {
  margin-top: 20px;
  position: relative;
  margin-bottom: 100px; }
  .to-contact .name {
    height: 40px;
    width: 100%;
    font-size: 27px;
    padding: 5px;
    padding-left: 10px;
    border: 1px solid #26C7a9;
    margin-bottom: 20px;
    opacity: 0.5; }
  .to-contact .email {
    height: 40px;
    width: 100%;
    font-size: 27px;
    padding: 5px;
    padding-left: 10px;
    border: 1px solid #26C7a9;
    margin-bottom: 20px;
    opacity: 0.5; }
  .to-contact .textarea {
    height: 170px;
    max-height: 200px;
    width: 100%;
    font-size: 27px;
    padding-left: 10px;
    border: 1px solid #26C7a9;
    opacity: 0.5; }
  .to-contact .checkbox-part {
    max-height: 150px;
    text-align: center; }
    .to-contact .checkbox-part img {
      margin-bottom: 5px; }
    .to-contact .checkbox-part .checkbox label {
      display: inline-block; }
    .to-contact .checkbox-part input[type="checkbox"] {
      content: "";
      border: 1px solid #26C7a9;
      margin-right: 30px;
      height: 41px;
      width: 41px;
      display: inline-block; }
    .to-contact .checkbox-part input[type="checkbox"]:checked {
      content: "";
      background: white;
      border: 1px solid #26C7a9; }
  .to-contact #submit {
    height: 50px;
    width: 270px;
    font-size: 30px;
    color: white;
    background: #26C7a9;
    border-radius: 7px;
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 3px 3px 3px #888888; }
    .to-contact #submit:active {
      background-color: white;
      color: #26C7a9; }

.footer {
  margin-top: 100px; }
  .footer .copyright {
    float: left;
    position: relative;
    margin-bottom: 30px;
    vertical-align: middle;
    opacity: 0.5; }
  .footer .sitonchair {
    float: right;
    position: relative;
    margin-bottom: 30px;
    vertical-align: middle;
    opacity: 0.5;
    word-spacing: 3px; }
  .footer img {
    display: inline;
    position: relative;
    margin-top: -10px;
    margin-bottom: 30px;
    vertical-align: middle;
    left: 250px;
    cursor: pointer; }
  .footer strong {
    color: #26C7a9; }

/*# sourceMappingURL=style.css.map */
