body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway-Regular.ttf);
}

body {
    width: 100%;
    margin: auto;
    background: white;
    font-family: Raleway;
}

.container {
    background: white;
    margin: 0 auto;
}

.pasek {
    height: 30px;
    background: black;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.nawigacja {
    list-style: none;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 8px;
    margin-right: 20px;
}


.nawigacja li {
    margin-left: 40px;
    float: right;
}

.nawigacja .pierwsza {
    float: left;
    margin-left: 0;
}

.menu_sample {
    position: absolute;
    left:845px;
    top: 40px;
    background: black;
    color: white;
    font-size: 12px;
    padding: 4px;
    display:none;
}

.menu_sample ul li {
    list-style: none;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

nav a:link {
    color:white;
    text-decoration: none;
}

nav a:visited {
    color: white;
    text-decoration: none;
}

.on {
    color: #26C7a9;
}


.czolo {
    background: linear-gradient(to bottom, #fafafa 0%,#cdcfd4 100%);
    padding-top: 50px;
}

.content {
    width: 960px;
    margin: 0 auto;
}

.lewo {
    display: inline-block;
    position: absolute;
    top: 180px;
    left: 170px;
    font-size: 80px;
}

.prawo {
    display: inline-block;
    position: absolute;
    right: 170px;
    top: 180px;
    font-size: 80px;
}

.image {
    display: inline-block;
    position: relative;
}

.tekst {
    display: inline-block;
    position: absolute;
    width: 400px;
    top: 150px;
    left: 600px;
    text-align: center;
    vertical-align: middle;
}

h1 {
    padding-bottom: 30px;
    font-size: 35px;
    text-transform: uppercase;
}

.button_first {
    margin-top: 20px;
    margin-left: 85px;
    width: 230px;
    height: 30px;
    background-color: #26C7a9;
    color: white;
    font-family: Raleway;
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
}

.block {
    display: inline-block;
    width: 30%;
    margin: 40px 10px 40px 10px;
    border: 1px solid lightgrey;
    vertical-align: middle;
    font-size: 14px;
}

.block img {
    width: 100%;
}

.oferta_pasek {
    z-index: -1;
}

.pasek1{
    z-index: 2;
    position: absolute;
    height: 20px;
    margin-left: 5px;
    padding-top: 10px;
    padding-right:30px;
    top: 570px;
    font-weight: bold;
    border-bottom: 5px solid #26C7a9;
}

.pasek2{
    z-index: 2;
    position: absolute;
    height: 20px;
    padding-top: 10px;
    padding-right:30px;
    margin-left: 5px;
    top: 570px;
    font-weight: bold;
    border-bottom: 5px solid #26C7a9;
}

.inputs p, .inputs h3 {
    padding: 10px;
    box-sizing: border-box;
}

.inputs h3 {
    border-bottom: 5px solid #26C7a9;
    margin-left: 10px;
    width:50%
}

div.distance {
    padding: 10px;
}

.opacity_belt {
    height: 50px;
    background: white;
    width: 62%;
    position: absolute;
    top:565px;
    opacity: 0.4;
}

.blank_belt {
    height: 30px;
    background: white;
    width: 100%;
    top:700px;
}

.cennik {
    background: #e6e6e6;
}

.header {
    margin-top: 30px;
    border-bottom: 8px solid #26C7a9;
    margin-bottom: 50px;
    width:250px;
    position: absolute;
    left: 170px;
}

.circle1 {
    height: 20px;
    width: 20px;
    background: grey;
    border-radius: 50%;
    border: 10px solid white;
    position: absolute;
    top: 825px;
    left: 300px;
}

.circle2 {
    height: 20px;
    width: 20px;
    background: grey;
    border-radius: 50%;
    border: 10px solid #26C7a9;
    position: absolute;
    top: 825px;
    left: 620px;
}

.circle3 {
    height: 20px;
    width: 20px;
    background: grey;
    border-radius: 50%;
    border: 10px solid white;
    position: absolute;
    top: 825px;
    left: 940px;
}

.bloki {
    margin-top: 70px;
}

.block2 {
    display: inline-block;
    width: 30%;
    height: 435px;
    margin: 40px 10px 40px 10px;
    border: 3px solid lightgrey;
    vertical-align: middle;
    text-align: center;
}

.title {
    font-size: 20px;
    color: #26C7a9;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
}

.cena {
    color: #828282;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #b8b8b8;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    margin: auto;
    vertical-align: middle;
    background: white;
}

.big {
    font-weight: bold;
    font-size: 28px;
}

.zakup {
    background: darkgrey;
    margin-top:30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.serwis {
    background: lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gwarancja {
    background: darkgrey;
    padding-top: 10px;
    padding-bottom: 10px;
}

.porady {
    background: lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button_second {
    width: 120px;
    height: 20px;
    margin: auto;
    background: #26C7a9;
    text-transform: uppercase;
    border-radius: 7px;
    color: white;
}

.white {
    background: white;
    color: #26C7a9;
}

.blank {
    height: 20px;
}

.standard {
    background: #26C7a9;
}

.standard .title {
    color: white;
}

.standard .cena {
    color: #26C7a9;
}

.standard .zakup {
    background: white;
}

.standard .gwarancja {
    background: white;
}

.form {
    margin-top: 100px;
    width: 550px;
    height: auto;
    position: absolute;
    left:170px;
    margin-bottom: 30px;
}

.name {
    height: 40px;
    width: 100%;
    font-size: 27px;
    padding: 5px;
    padding-left: 10px;
    border: 1px solid #26C7a9;
    margin-bottom: 20px;
    opacity: 0.5;
}

.email {
    height: 40px;
    width: 100%;
    font-size: 27px;
    padding: 5px;
    padding-left: 10px;
    border: 1px solid #26C7a9;
    margin-bottom: 20px;
    opacity: 0.5;
}

.textarea {
    height: 150px;
    max-height: 150px;
    width: 100%;
    font-size: 27px;
    padding: 5px;
    padding-left: 10px;
    border: 1px solid #26C7a9;
    margin-bottom: 20px;
    opacity: 0.5;
}

.fotel {
    position: absolute;
    left: 650px;
    top: -40px;
}


.checkbox {
    position: absolute;
    left: 600px;
    top: 200px;
}

.checkbox label {
    display: block;
    padding-left: 45px;
    position: absolute;
    top: -30px;
    width: 350px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label:before {
    content: "";
    border: 1px solid #26C7a9;
    background: url(images/form_ok.jpg);
    margin-right: 30px;
    height: 41px;
    width: 41px;
    display: inline-block;
}
input[type="checkbox"]:checked + label:before {
    content: "";
    background: white;
    border: 1px solid #26C7a9;
}

#submit {
    height: 50px;
    width: 270px;
    position: absolute;
    left: 650px;
    top: 250px;
    font-size: 30px;
    color: white;
    background: #26C7a9;
    border-radius: 7px;
}

.stopka {
    float: left;
    position: relative;
    top: 480px;
    margin-bottom: 30px;
    opacity: 0.5;
}

.sitonchair {
    float: right;
    position: relative;
    top: 480px;
    margin-bottom: 30px;
    opacity: 0.5;
    word-spacing: 5px;
}

.footer img {
    display: inline;
    position: relative;
    top: 470px;
    left: 250px;
}